<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Employees</title>
</head>
<body>
<h1>Employee List</h1>
<a th:href="@{/add}">
    <button>Add Employee</button>
</a>
<a th:href="@{/emailForm}">
    <button>Send Mail</button>
</a>
<form th:action="@{/viewemp}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"
           placeholder="Search by first or last name" />
    <button type="submit">Search</button>
</form>
<div>
    <label for="sortDropdown">Sort By:</label>
    <select id="sortDropdown" name="sortField" th:value="${sortField}">
        <option value="">-- Select --</option>
        <option value="eid">ID</option>
        <option value="fname">First Name</option>
        <!-- Add more options for other fields as needed -->
    </select>
    <button type="submit" onclick="sortEmployees()">Sort</button>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Role</th>
        <th>Department</th>
        <th>Action</th>
        <th>Whatsapp</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the list of employees and display their information -->
    <tr th:each="employee : ${employees.content}">
        <td th:text="${employee.eid}"></td>
        <td th:text="${employee.fname}"></td>
        <td th:text="${employee.lname}"></td>
        <td th:text="${employee.dob}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="'91'+${employee.phone}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.role}"></td>
        <td th:text="${employee.dept}"></td>
        <td>
            <a th:href="@{/editEmployee/{id}(id=${employee.eid})}">Edit</a>
            <a th:href="@{/deleteEmployee/{id}(id=${employee.eid})}">Delete</a>
            <a th:href="@{/viewEmployee/{id}(id=${employee.eid})}">View</a>
        </td>
        <td>
            <a th:href="@{https://api.whatsapp.com/send/?phone=91{id}(id=${employee.phone})}" target="_blank">
                <button>WhatsApp</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <span>Page:</span>
    <span th:each="i : ${#numbers.sequence(0, employees.totalPages - 1)}">
        <a th:href="@{/viewemp(page=${i}, size=${employees.getSize()}, keyword=${keyword}, sortField=${sortField})}"
           th:class="${i == employees.number} ? 'active' : ''"
           th:text="${i + 1}"></a>
    </span>
</div>

<script th:inline="javascript">
    function sortEmployees() {
        var selectedSortField = document.getElementById("sortDropdown").value;
        window.location = "/viewemp?sortField=" + selectedSortField;
    }
</script>

</body>
</html>
