<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Client List</title>
</head>
<body>
	<h1>Client List</h1>

	<table>
		<thead>
			<tr>
				<th>Client ID</th>
				<th>Company Name</th>
				<th>HR Name</th>
				<th>HR Phone</th>
				<th>Title/Position</th>
				<th>Address</th>
				<th>Email ID</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="client : ${clients}">
				<td th:text="${client.clid}"></td>
				<td th:text="${client.companyName}"></td>
				<td th:text="${client.personName}"></td>
				<td th:text="${client.personPhone}"></td>
				<td th:text="${client.titlePosition}"></td>
				<td th:text="${client.address}"></td>
				<td th:text="${client.emailId}"></td>
				<td>
					<a th:href="@{/editClient/{clid}(clid=${client.clid})}">Edit</a>
					<a th:href="@{/deleteClient/{clid}(clid=${client.clid})}">Delete</a>
					<a th:href="@{/viewClientBy/{clid}(clid=${client.clid})}">View</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
